<mat-toolbar color="primary" class="toolbar">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="app-name">Keep-App</span>
  <span class="example-spacer"></span>
  <div class="right-section">
    <ng-container *ngIf="authenticationService.isLoggedIn;">
      <span>{{ authenticationService.username }}</span>
      <!-- <button mat-button (click)="authenticationService.logout()">
        <mat-icon>exit_to_app</mat-icon> 
        Sign Out
      </button> -->
      <button mat-icon-button [matMenuTriggerFor]="userMenu">
        <mat-icon class="user-icon">account_circle</mat-icon>
      </button>
      <mat-menu #userMenu="matMenu">
        <button mat-menu-item (click)="authenticationService.logout()">
          <mat-icon>exit_to_app</mat-icon>
          Sign Out
        </button>
      </mat-menu>
    </ng-container>
  </div>
</mat-toolbar>